.letter-wrapper{
    position:absolute;
    top:50mm;
    left:50mm;
    height:300mm;
    width:300mm;
    background-color:rgb(154,154,154);
}
.letter-background{
  position:absolute;
  top:30mm;
  left:50mm;
  height:244mm;
  width:180mm;
  background-color:rgb(248, 245, 245);
}
  .recttop{
      position: relative;
      height:3mm;
      width:10mm;
      top:48mm;
      left:0mm;
      border:0.75pt;
      background-color: rgb(230, 176, 77);
      z-index: 1;
}.recttop2{
  position: relative;
  height:3mm;
  width:10mm;
  top:45mm;
  left:170mm;
  border:0.75pt;
  background-color: rgb(230, 176, 77);
  z-index: 1;
}
.underline{
  position:absolute;
  top:49mm;
  width:159mm;
  left:10mm;
  border: 0.75pt solid gray;
  z-index:2;
}
.underline1{
  position:absolute;
  top:216mm;
  width:40mm;
  left:46mm;
  border: 0.75pt solid white;
  z-index:3;
}
.underline2{
  position:absolute;
  top:228mm;
  width:10mm;
  left:60mm;
  border: 0.75pt solid white;
  rotate: 90deg;
  z-index:3;
}
.underline3{
  position:absolute;
  top:217mm;
  width:40mm;
  left:102mm;
  border: 0.75pt solid white;
  z-index:4;
}
.underline4{
  position:absolute;
  top:228mm;
  width:10mm;
  left:118mm;
  border: 0.75pt solid white;
  z-index:4;
  rotate: 90deg;
}
.rectbottom{
  position:absolute;
  top: 202mm;
  height: 6mm;
  width: 23mm;
  left: 80mm;
  background-color:rgb(230, 176, 77); ;
  align-content: center;
  z-index: 5;
}




.letter-content{
  header{
    position:absolute;
    top:35mm;
    left: 120mm;
    margin:5mm;
  }
  .letter-content.letter-org-logo1
						img{
						width:396.875mm;
						height:396.875mm;
            
						}
           }
    .letter-org-name{
      position:absolute;
      font-size: 25pt;
      text-align: center;
      top:20mm;
      left:-11mm;
     }
     .letter-org-details{
      position: relative;
      font-size: 10pt;
      left:-1mm;
      top:10mm;
     }
     .letter-ref{
       position:absolute;
       top:-2mm;
       left:-68mm;
     }
      .letter-date{
        position: relative;
        top: 54mm;
        left: 50mm;
      }
      
      
      .letter-body{
        position:absolute;
        }
         .letter-body-to{
						position:absolute;
            font-size:12pt;
					  margin:55mm;
            left: 15mm;
            top:35mm;
         }
         .letter-body-subject{
          position:relative;
          font-size:12pt ;
          margin:70mm;
          top:58mm;
          left:30mm;
         }
         .letter-body-salutation{
          position:relative;
          font-size:12pt ;
          margin:30mm;
          top:-12mm;
          left:40mm;
         }
         .letter-body-message{
          position: absolute;
          top:134mm;
          margin-left:70mm;
					margin-right:-15mm;
            p{
              font-size:13pt;
               text-indent: 15mm;
              font-family: "Times New Roman", Times, serif;
              overflow:auto;
              text-align:justify;
              }
             
                  
                  }
                  
                  .letter-body-message.signature{
                    left:30mm;
                    top:200mm;
                  }
                  .letter-body-message { 
                  h2{
                      font-size: 10pt;
                      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                      top: -100pt;
                    }
                  }
                    
                    
                    .letter-footer{
                      position: absolute;
                      height: 40mm;
                      width: 180mm;
                      background-color: rgb(48, 41, 41);
                      top:234mm;
                      left:50mm;
                      }
                      .letter-org-website{
                        position: absolute;
                        color: rgb(243, 246, 248);
                        font-size:11pt ;
                        left:82mm;
                        margin-top: -1mm;
                        z-index: 5;
                      }
                      .letter-org-phone img{
                        position: absolute;
                        left:13mm;
                        margin-left: 20mm;
                        margin-top: 10mm;
                        
                      }
                      .letter-org-phone{
                        position: relative;
                        margin-left: 49mm;
                        color: white;
                        font-size: 8pt;
                        margin-top: 8mm;
                      }
                      .letter-org-email{
                        position: absolute;
                        color: white;
                        margin-left: 76mm;
                        margin-top: -3mm;
                        font-size: 8pt;
                      }
                      .letter-org-email img{
                        position:absolute;
                        margin-left: -10mm;
                        font-size: 8pt;
                        color: white;
                        margin-top: 2mm;
                        
                      }
                      .letter-org-address img{
                        position: absolute;
                        left:50mm;
                        margin-left: 62mm;
                        margin-top: -14mm;
                      }
                      .letter-org-address{
                        position: absolute;
                        margin-left: 115mm;
                        font-size: 8pt;
                        color: white;
                        margin-top: -2mm;
                      }
                     


                        
                        
                        
                        
                        
                        

					               
                        
                         
                        
                      
						      
                    

                    
                  

         
              
     








  





