*{
    margin: 0;
    padding: 0;
}
body{
    background: gray;
}

.letter-wrapper{
    height: 297mm;
    width: 210mm;
    margin: auto;
    background-color:white;
    position: relative;
    overflow: hidden;
    color: black;
   
}
.topbox1{
    height: 8mm;
    width: 100%;
    background: rgb(88, 191, 101);
}

.topbox2{
    height: 13mm;
    width: 81mm;
    border: 2.25pt solid rgb(88, 191, 101);
    position: absolute;
    transform: rotate(90deg);
    border-radius: 8mm;
    right: -13mm;
    top: 0pt;
}

.topbox3{
   
    height: 13mm;
    width: 78mm;
    border: 2.25pt solid rgb(88, 191, 101);
    position: absolute;
    border-radius: 8mm;
    top: 66mm;
    left: -6mm;

}
.bottombox1{
    position: absolute;
    bottom: 40mm;
    left: 16mm;
    display: flex;
}
.tri1{
    height: 13mm;
    margin: 2mm;
    width: 4mm;
    background: rgb(232, 227, 227);
    border-radius: 18.75pt;
}
.bottombox2{
    position: absolute;
    bottom: 40mm;
    left: 133mm;

}
.tri2{
    height: 4mm;
    margin: 2mm;
    width: 13mm;
    background: rgb(232, 227, 227);
    border-radius: 18.75pt;
}
.bottombox3{
    height: 12mm;
    width: 130mm;
    border: 2.25pt solid rgb(88, 191, 101);
    position: absolute;
    border-radius: 18.75pt;
    bottom: 18mm;
    left: -16.5pt;
}






.letter-org-logo{
    position: absolute;
    height: -1mm;
    top: 22mm;
    left: 25mm;
}
    


.letter-org-logo img{
    height: 25mm;

}
.letter-org-name{
    position: absolute;
    top:46mm ;
    left: 10mm;
    font-weight: bold;
    font-size: 16pt;
}
.letter-org-details{
    position: absolute;
    top:52mm ;
    left: 10mm;
}
.letter-date{
    position: absolute;
    right: 40mm;
    top: 45mm;
}
.letter-ref{
    position: absolute;
    top: 70mm;
    left: 10mm;
}

.letter-body-to{
    position: absolute;
    top: 85mm;
    width: 70mm;
    margin-left: 10mm;
    font-weight: bold;
    line-height: 17pt;

}
.letter-body-subject{
    position: absolute;
    top: 116mm;
    font-weight: bold;
    margin-left: 10mm;
    font-size: 14pt;

}
.letter-body-salutation{
    position: absolute;
    top: 130mm;
    left: 10mm;
    font-weight: bold;
    font-size: 14pt;


}
.letter-body-message{
    position: absolute;
    top: 140mm;
    margin-left: 10mm;
    line-height: 25pt;
    text-align: justify;
    margin-right: 10mm;
    font-size: 13pt;
}
.letter-body-sign{
    position: absolute;
    bottom: 40mm;
    right: 10mm;
    text-align: right;
}
.letter-org-website{
    position: absolute;
    right: 10mm;
    bottom: 22mm;
}
.letter-org-phone{
    position: absolute;
    left: 10mm;
    bottom: 22mm;
}

.letter-org-email{
    position: absolute;
    left: 45mm;
    bottom: 22mm;
}
.letter-org-address{
    position: absolute;
    left: 10mm;
    bottom: 10mm;
}
