
body .letter-wrapper {
  
  margin: auto;
  overflow: hidden;
  background-color: white;
  left: auto;
  top: 20mm;
  width: 210mm;
  height: 297mm;
  position: relative;
  box-shadow:      -161px 126px 190px -9px rgba(0,0,0,0.45),
  -25px 0px 20px -20px rgba(0,0,0,0.45);
}

.container {
  display: flex;
  align-items: center;
  background-color: white;
  height: 100pt;
  width: 100pt;
  top: 0;
  bottom: 0;
}

.bar{
  top: 22mm;
  width: 100%;
  height: 12mm;
  left: 0;
  display: inline-flex;
  align-items: center;
  background-color: rgb(38, 77, 157);
  position: absolute;

}

.logo {
  display: flex;
  align-items: center;
}

.logo .text {
  color: black;
  font-size: 14pt;
  left: 31mm;
  position: relative;
  background: 30px white;
  
}

.letter-wrapper .letter-background .topbox1 {
  width: 2mm;
  height: 12mm;
  top: 22mm;
  left: 27mm;
  background: white;
  transform: skewX(0deg);
  position: absolute ;
  z-index: 1;
  
}

body .letter-wrapper .topbox2 {
  width: 2mm;
  height: 12mm;
  top: 22mm;
  left: 95mm;
  background: white;
  transform: skewX(0deg);
  position: absolute ;
  z-index: 1;
}

body .letter-wrapper .btmbox1 {
  left: -5mm;
  width: 120mm;
  height: 30mm;
  top: 280mm;
  background: rgb(47, 84, 165);
  transform: skewX(220deg);
  position: absolute;
  z-index: 2;
  }

body .letter-wrapper .btmbox2 {
  left: 0mm;
  width: 100mm;
  height: 50mm;
  top: 275mm;
  background: rgb(48, 96, 173);
  transform: skewX(220deg);
  position: absolute;
  z-index: 2;
  
}

body .letter-wrapper .btmbox3 {
  right: 0mm;
  width: 105mm;
  height: 50mm;
  top: 287mm;
  background: rgb(47, 84, 165);
  transform: skewX(180deg);
  position: absolute;
  z-index: 2;
}

body .letter-wrapper .letter-content .letter-header .letter-org-logo {
  font-weight: bold;
  position: relative;
  left: 28mm;
  top: -20mm;
  width: 40mm;
  height: 30mm;
  margin: 5mm;
  
}

body .letter-wrapper .letter-content .letter-header .letter-date {
  font-weight: bold;
  position: absolute;
  left: 150mm;
  top: 60mm;
  width: 30%;
  height: auto;
  font-size: 12pt;
}

body .letter-wrapper .letter-content .letter-body {
  position: absolute;
  left: 0mm;
  top: 20mm;
  width: 100%;
  height: 200mm;
}

body .letter-wrapper .letter-content .letter-body .letter-body-to {
  position: absolute;
  left: 15mm;
  top: 30mm;
  width: 70mm;
  height: 35mm;
  font-weight: bold;
  font-size: 13pt;
  margin: 0mm;
}

body .letter-wrapper .letter-content .letter-body .letter-body-subject {
  position: absolute;
  left: 0mm;
  top: 60mm;
  width: calc(100% - 45mm);
  height: 20mm;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 15pt;
  font-weight: bold;
}

body .letter-wrapper .letter-content .letter-body .letter-body-salutation {
  position: absolute;
  left: 0mm;
  top: 71mm;
  width: auto;
  height: auto;
  margin-left: 15mm;
  font-weight: bold;
  font-size: 15pt;
}

body .letter-wrapper .letter-content .letter-body .letter-body-message {
  position: absolute;
  left: 0mm;
  top: 77mm;
  width: auto;
  height: 115mm;
  margin-left: 15mm;
  margin-right: 15mm;
  text-align: justify;
}

body .letter-wrapper .letter-content .letter-body .letter-body-message p {
  font-size: 13pt;
  text-indent: 15mm;
  font-family: "Times New Roman", Times, serif;
  overflow: auto;
  text-align: justify;
}

body .letter-wrapper .letter-content .letter-body .sign {
  
  position: absolute;
  left: 20mm;
  top: 173mm;
}

body .letter-wrapper .letter-content .letter-body .letter-body-sign {
  position: absolute;
  left: 0mm;
  top: 195mm;
  width: auto;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 12pt;
  font-weight: bold;
}

body .letter-wrapper .letter-content .letter-body .letter-body-sign p {
  margin: 0mm;
  font-size: 10pt;
  font-weight: normal;
}

body .letter-wrapper .letter-content .letter-footer {
  position: absolute;
  left: 50mm;
  top: 256mm;
  width: 100%;
  height: 35mm;
}

body .letter-wrapper .letter-content .letter-footer .fa {
  width: 7mm;
  height: 7mm;
  left: 132mm;
  top: -26mm;
  border-radius: 50%;
  padding: 1mm;
  margin-right: -50mm;
  background-color: #43a9bb;
  text-align: right;
  font-size: 12pt;
  position: relative;
  
}

body .letter-wrapper .letter-content .letter-footer .letter-org-website {
  position: absolute;
  left: 60mm;
  top: 7mm;
  width: 5mm;
  height: 10mm;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 10pt;
  font-weight: bold;
  text-shadow: 0.2mm 0.2mm white;
}

body .letter-wrapper .letter-content .letter-footer .letter-org-phone {
  position: absolute;
  left: 80mm;
  top: -25mm;
  width: 40%;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 13pt;
}

body .letter-wrapper .letter-content .letter-footer .letter-org-email {
  position: absolute;
  left: 55mm;
  top: -15mm;
  width: 87mm;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 12pt;
}

body .letter-wrapper .letter-content .letter-footer .letter-org-address {
  position: absolute;
  left: 62mm;
  top: -4mm;
  width: 100%;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 13pt;
}


